html{scroll-behavior:smooth}

body {
  width: 100%;
  height: 1000px;
  margin: 0;
  background-color: #c32a33;
  font-family: 'Fira Mono', monospace;
}

a:hover {
  color: #ffbebe;
}

.video-left {
  width: 25vw;
  padding-left: 10vw;
  float: left;
}

.video-right {
  width: 25vw;
  padding-right: 10vw;
  float: right;
}

.header {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  height: 30vh;
  width: 100%;
  top: 0;
  background-image: linear-gradient(#c32a33 0 50%,#ffffff00);
  z-index: 999;
}

.link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1vw;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}
.navlink {
  font-size: 1rem;
}
.navbar-left,
.navbar-right {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  padding-right: 5rem;
  padding-left: 5rem;
}

.bigtext {
  font-size: 7vw;
  color: #ffffff;
}

.bighead {
  font-size: 5vw;
  color: #ffffff;
}

.bignorm {
  font-size: 3vw;
  color: #c77777;
}

.right {
 float: right;
}

.right {
 float: right;
}

.left {
 float: left;
}

.form {
  border-radius: 10px;
  background-color: #b32a33; 
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
.bigtext-mal {
  font-family: 'Gayathri', sans-serif;
  font-size: 5vw;
  color: #ffffff;
  z-index: 2;
  padding-left: 27%;
}

.spacer {
    height: 0vw;
    clear:both;
}
.bigtext-grey {
  font-size: 7vw;
  color: #c77777;
}

.full-size {
  height: 70vh;
  width: 100%;
  margin-top: 60vh;
  z-index: 2;
}

.linkphone {
  color: #c77777;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 2vw;
}
.slink {
  width: 5vw;
  height: 5vh;
  filter: invert(1);
  padding-top: 5vh;
  padding-bottom: 4vh;
  padding-left: 14vh;
  padding-right: 14vh;
}
.subhead {
  text-decoration: underline;
}

.center {
  display: table;
  margin: auto;
}

.rounded {
  border-radius: 15px;
}

.logo {
  justify-content: center;
  height: 10%;
  padding-top: 1%;
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate3d(-50%, -50%, 0);
  filter: invert(1);
  z-index: 9999999;
}

.twitter:hover {
  filter: invert(67%) sepia(69%) saturate(5695%) hue-rotate(180deg) brightness(104%) contrast(90%);
}

.youtube:hover {
filter: invert(17%) sepia(92%) saturate(6905%) hue-rotate(4deg) brightness(94%) contrast(120%);
}

.facebook:hover {
filter: invert(61%) sepia(72%) saturate(7480%) hue-rotate(203deg) brightness(99%) contrast(91%);
}
